body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Responsive */
@media (max-width:760px) {
    .footer-container {
        padding: 2rem 1rem
    }

    .footer-section {
        flex: 1 1 100%
    }
}
.custom {
    border-radius: 35px;
    margin-left: 10px;
    margin-right: 10px;

}


.custom a:hover {
    color: tomato;
    transition: color 0.3s ease-in-out;
}
.select:hover {
   color: tomato;   
    transition: box-shadow 0.3s ease-in-out;
}
