 nav {
     background-color: #222;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
     font-family: Arial, sans-serif;
     font-size: 20px;
     border-radius: 100px;
     height: 80px;
 }


 nav ul {
     list-style: none;
     display: flex;
     gap: 20px;
 }

 ul li a {
     color: white;
     text-decoration: none;
     transition: color 0.3s;
 }

 ul li a:hover {
     color: #ff9800;
 }

 ul li button {
     background: none;
     border: none;
     cursor: pointer;
     color: white;
     transition: color 0.3s;
 }

 ul li button:hover {
     color: #ff9800;
 }

 .logo {
     display: flex;
     align-items: center;
     gap: 10px;
     font-weight: bold;
 }

 .nav-links {
     list-style: none;
     display: flex;
     gap: 20px;
 }

 .nav-links li a {
     color: white;
     text-decoration: none;
     font-size: 18px;
 }

 .menu-btn {
     display: none;
     font-size: 28px;
     cursor: pointer;
 }

 /* ------------ MOBILE VIEW ------------ */
 @media (max-width: 768px) {
     .menu-btn {
         display: block;
         /* Show hamburger */
     }

     .nav-links {
         position: absolute;
         top: 65px;
         right: 20px;
         background: #333;
         width: 200px;
         flex-direction: column;
         padding: 15px;
         gap: 15px;
         display: none;
         /* Hidden by default */
         border-radius: 8px;
     }

     .nav-links.show {
         display: flex;
         /* Show dropdown when toggled */
     }
 }

 .dark-theme {
     background-color: #121212;
     color: #ffffff;
 }

 footer {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: #222;
     color: white;
     padding: 20px;
     text-align: center;
     font-family: Arial, sans-serif;
     margin-top: 40px;
     display: absolute;
 }

 .footup {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-bottom: 20px;

 }

 .social-icons a {
     color: white;
     margin: 0 10px;
     text-decoration: none;
     font-size: 20px;
     transition: color 0.3s;
     border-radius: 50%;
     padding: 5px;
 }

 .social-icons a:hover {
     color: #ff9800;
     background-color: #444;
 }


 ul li button {
     background: none;
     border: none;
     cursor: pointer;
     color: inherit;
     font: inherit;
     padding: 0;
 }

 .pages {
     list-style: none;
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .pages ul li a {
     color: white;
     text-decoration: none;
     font-size: large;

 }

 .pages ul li a:hover {
     text-decoration: underline;
 }

 .tag h2 {
     margin: 0;
     font-size: 24px;
     color: tomato;
     text-shadow: 0px 3px 5px black;
 }